@import "fonts"
@import "libs"
@import "base"
@import "vars"

.section
	.section-title
		font-size: 4.5rem
		margin-top: 0
		margin-bottom: 0
.is-wrap
	padding: 0 10%

#header-section
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/background/header-bg.jpg)
	background-size: cover
#select
	margin-top: 5rem
@mixin flex
	display: flex 
	flex-wrap: wrap

@mixin flex-center
	@include flex
	justify-content: center
	align-items: center

@mixin flex-around
	@include flex
	justify-content: space-around
	align-items: center



@mixin flex-between
	@include flex
	justify-content: space-between
	align-items: center


.jumbotron
	font-family: 'FGGR'
	text-transform: uppercase
	text-align: center
	color: white
	
	padding-top: 22.5rem
	padding-bottom: 13rem
	




	.jumbotron-title
		font-size: 7.1rem

	
	.jumbotron-list
		@include flex-around
		max-width: 144rem
		margin-left: auto
		margin-right: auto
		.jumbotron-item
			max-width: 50rem
			.jumbotron-item-name
				font-size: 6rem

			.button
				padding: 25px 35px
				font-family: 'FGGR'
				font-size: 2.1rem
				text-transform: uppercase

.button 
	border: none
	cursor: pointer
	&.is-transparent
		background: transparent
		border: 3px solid white
		color: white

		&:hover,
		&:focus
			background: white
			color: #434343

	&.is-circle
		border-radius: 50px


	&.is-xs
		font-size: 2rem
		padding: 0.5rem 1.5rem  


	&.is-gray
		color: #525252
		border: 2px solid #525252
		background: transparent
		// &:hover,
		// &:focus
		// 	background: #525252
		// 	color: white



.container
	max-width: 192rem
	margin: 0 auto

.columns
	display: flex
	max-height: 70rem
	.column
		position: relative
		flex: 1;

		&.is-2
			flex: 2

		&.is-gray
			background: #95989f

.center
	@include flex-center

.is-img-wrap
	img
		width: 100%
		height: 100%
		object-fit: cover



.content	
	width: 80%
	margin: 0 auto
	font-size: 2.4rem
	.title 
		font-size: 4.5rem

	&.is-thin
		width: 32rem
		.title	
			width: 45rem;

#picture
	max-width: 51rem
	position: absolute
	right: 0
	top: 4rem

.opportunity
	@include flex-between
	font-size: 2.1rem
	margin-bottom: 5rem
	.opportunity-item
		margin-bottom: 3rem
		min-width: 41.5rem
		@include flex-center
		justify-content: flex-start 
		img
			margin-right: 2.5rem

.is-left
	text-align: left
.is-right	
	text-align: right	


.confer
	position: relative
	right: 0.9rem
	img
		width: 9rem;
		margin-right: 1.5rem !important

.click 
	img
		position: relative
		left: 1rem
		margin-right: 4rem !important

.row
	@include flex-around
	align-items: flex-start

.office-item
	color: black
	max-width: 32rem
	margin-top: 5rem
	

	.office-name
		line-height: 1
		font-size: 3.55rem
		padding-bottom: 0
		margin-bottom: 0.5rem
		margin-top: 0.5rem
		font-weight: bold
	.office-info
		font-size: 2.75rem
		margin-top: -1rem
		padding-top: 0
		margin-bottom: 0.5rem
	.office-img	
		width: 100%
		height: 23rem
		img
			width: 100%
			height: 100%
			object-fit: cover

	.button
		margin-top: 1rem
		text-transform: lowercase;


.footer 
	margin-top: 6.5rem
	background: #7d7d7d
	color: #ffffff
	.in
		padding-top: 14rem
		padding-bottom: 14rem
		max-width: 125rem
		margin-left: auto
		margin-right: auto
		@include flex-around

		.contact-info
			max-width: 46rem
			p
					padding: 0
					margin: 0
					line-height: 1.2
			.title
				font-size: 4.5rem
				font-weight: bold
				margin-top: 0
				margin-bottom: 4rem

			.info
				font-size: 3.3rem
				margin-top: 0	
				margin-bottom: 4rem


			.phone
				font-size: 3.6rem
				a
					color: white
					text-decoration: none

				

		.contact-form
			max-width: 46rem
			form
				max-width: 39rem
			input
				width: 100%
				margin: 0.5rem	
				font-size: 2rem
				padding: 2rem 3rem
				color: white
				background: transparent
				border: 3px solid white
				border-radius: 10px


@import "media" // Всегда в конце
